.premium-box {
    background-color: #ffffff;
    margin: 20px 0;
    padding: 10px 15px;
}
.insurers-plan {
    box-shadow: 0px 1px 4px rgb(0 35 101 / 16%);
    margin: 3px 0 20px 0;
    background: #fff;
    border-radius: 7px;
    overflow: hidden;

    .insurers-plan-top {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        border-bottom: 1px solid #cad3e0;
        align-items: center;
        position: relative;
        padding: 12px 16px;

        // padding-top: 35px;

        .supp-holder {
            display: flex;
            max-width: 65px;
            img {
                max-width: 100%;
            }
        }

        .plan-label {
            font-size: 16px;
            font-weight: 500;

            span {
                display: block;
            }
        }
    }

    .insurers-plan-middle {
        background: #f7f7ec;
        padding: 14px 16px;

        .label {
            color: #ffab00;
            font-size: 12px;
            font-weight: bold;
            cursor: text;
            margin: -3px 0 0 0;
            display: inherit;
        }

        ul {
            margin: 12px 0 0 0;
            padding: 0;
            list-style: none;

            li {
                color: #253858;
                margin: 0 48px 0 0;
                font-size: 12px;
                display: inline-block;

                mat-icon {
                    font-size: 14px;
                    color: #36b37e;
                    vertical-align: middle;
                    margin: -3px 5px 0 50px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                }

                mat-icon:first-child {
                    margin-left: 0;
                }
            }
        }
    }

    .insurers-plan-bottom {
        padding: 0 20px;
        font-weight: bold;
    }

    .insurers-plan-name-mobile {
        padding: 15px 0 0 20px;
        font-weight: 500;
        font-size: 12px;
        color: #253858;

        span {
            font-size: 12px;
            opacity: .5;
            font-weight: normal;
        }
    }
}