<div class="insurers-plan">
    
    <div class="insurers-plan-name-mobile plan-label hide-g-sm">
        <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '10', margin: 0, height: '10px', width: '150px'}"></ngx-skeleton-loader>
    </div>

    <div class="insurers-plan-top">
        <div class="supp-holder">
            <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '10', margin: 0, height: '40px', width: '80px'}"></ngx-skeleton-loader>
        </div>

        <div class="plan-label hide-l-sm">
            <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '10', margin: 0, height: '20px', width: '100px'}"></ngx-skeleton-loader>
        </div>

        <div class="plan-label hide-l-sm">
            <span>
                <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '10', margin: 0, height: '7px', width: '100px' }"></ngx-skeleton-loader>
            </span>
            <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '10', margin: 0, height: '15px', width: '180px'}"></ngx-skeleton-loader>
        </div>
        <div class="plan-label">
            <span>
                <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '10', margin: 0, height: '7px', width: '80px' }"></ngx-skeleton-loader>
            </span>
            <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '10', margin: 0, height: '15px', width: '100px'}"></ngx-skeleton-loader>
        </div>
        <div>
            <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '10', margin: 0, height: '30px', width: '100px'}"></ngx-skeleton-loader>
        </div>
    </div>

    <div class="insurers-plan-middle">
        <span class="label">
            <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '10', margin: 0, height: '15px', width: '80px' }"></ngx-skeleton-loader>
        </span>
        <ul>
            <li>
                <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '10', margin: 0, height: '12px', width: '100px' }"></ngx-skeleton-loader>
            </li>
            <li>
                <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '10', margin: 0, height: '12px', width: '80px' }"></ngx-skeleton-loader>
            </li>
            <li>
                <ngx-skeleton-loader count="1" [theme]="{ 'border-radius': '10', margin: 0, height: '12px', width: '120px' }"></ngx-skeleton-loader>
            </li>
        </ul>
    </div>
</div>
