footer.mob-footer {
  background: #fff !important;
  color: #888;
  text-align: center;
  padding-top: 7px;
  line-height: 20px;
  font-size: 11px;
}
footer.mob-footer p {
  color: #888;
  text-align: center;
  padding: 15px;
}
.mob-footer .material-icons {
  color: #fff;
  font-size: 17px;
}
footer {
  background: #05b787;
}
.mob-footer-low {
  padding: 15px;
  background: #05b787;
}

.mob-footer-low img {
  max-width: 11%;
  margin: 10px;
}
