
<div class="body-background">

  <div class="container main">
    <div class="form-container">

      <div class="form-box">
        <div class="wrap-contact100 radio-invisible quote-area" style="border:2; margin:0;">
          <form class="pre-quote-form contact-details-form" [formGroup]="forgotPasswordForm" (ngSubmit)="onLoginFormSubmit();">

            <div class="form-header">
              <button mat-button (click)="onBackBtnClick()" type="button">
                <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_back_ios</mat-icon>
              </button>
              <span class="form_title">Forgot Password</span>
            </div>

            <mat-form-field appearance="outline">
              <mat-label>Email ID</mat-label>
              <input matInput type="email" placeholder="Your Email ID" formControlName="email" autocomplete="nope">
              <mat-error *ngIf="forgotPasswordForm.controls['email'].errors && forgotPasswordForm.controls['email'].errors['required']">
                Sorry, we can’t proceed without this information.
              </mat-error>
              <mat-error *ngIf="forgotPasswordForm.controls['email'].errors && forgotPasswordForm.controls['email'].errors['pattern']">
                Oops, that doesn't look like a valid email!
              </mat-error>
            </mat-form-field>

            <button mat-raised-button color="accent" type="submit" class="submit">Login</button>
          </form>
        </div>

      </div>
    </div>
  </div>

</div>
