<app-common-header></app-common-header>

<div class="body-background">

  <div class="container main">
    <div class="form-container">

      <div class="form-box">
        <div class="wrap-contact100 radio-invisible quote-area" style="border:2; margin:0;">
          <form class="pre-quote-form contact-details-form" [formGroup]="settingForm" (ngSubmit)="onSettingFormSubmit();">

            <div class="form-header">
              <button mat-button (click)="onBackBtnClick()" type="button">
                <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_back_ios</mat-icon>
              </button>
              <span class="form_title">Update Home Page Layout</span>
            </div>

            <mat-form-field appearance="outline">
              <mat-label>Title</mat-label>
              <input matInput type="text" placeholder="Home page title" formControlName="title" autocomplete="nope">
              <!-- <mat-hint>Hint</mat-hint> -->
              <mat-error
                *ngIf="settingForm.controls['title'].errors && settingForm.controls['title'].errors['required']">
                Sorry, we can’t proceed without this information.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Body</mat-label>
              <textarea matInput type="text" placeholder="Home page body" formControlName="body_text"
                autocomplete="nope"></textarea>
              <!-- <mat-hint>Hint</mat-hint> -->
              <mat-error
                *ngIf="settingForm.controls['body_text'].errors && settingForm.controls['body_text'].errors['required']">
                Sorry, we can’t proceed without this information.
              </mat-error>
            </mat-form-field>

            <div style="padding-bottom: 20px;">
              <label>Home page image</label>
              <input type="file" placeholder="Home page image" autocomplete="nope" formControlName="image" (change)="onChangeImage($event)">
            </div>

            <button mat-raised-button color="accent" type="submit" class="submit">Update</button>
          </form>
        </div>

      </div>
    </div>
  </div>

</div>

<app-common-footer></app-common-footer>