
<div class="body-background">

  <div class="container main">
    <div class="form-container">

      <div class="form-box">
        <div class="wrap-contact100 radio-invisible quote-area" style="border:2; margin:0;">
          <form class="pre-quote-form contact-details-form" [formGroup]="registerForm" (ngSubmit)="onRegisterFormSubmit();">

            <div class="form-header">
              <button mat-button (click)="onBackBtnClick()" type="button">
                <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_back_ios</mat-icon>
              </button>
              <span class="form_title">Register to Donation App</span>
            </div>

            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput placeholder="Your First Name" formControlName="first_name" autocomplete="nope" (input)="onFirstNameInput()">
              <mat-error *ngIf="registerForm.controls['first_name'].errors && registerForm.controls['first_name'].errors['required']">
                Sorry, we can’t proceed without this information.
              </mat-error>
              <mat-error *ngIf="registerForm.controls['first_name'].errors && registerForm.controls['first_name'].errors['pattern']">
                Oops, that doesn't look like a valid Name!
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput placeholder="Your Last Name" formControlName="last_name" autocomplete="nope" (input)="onLastNameInput()">
              <mat-error *ngIf="registerForm.controls['last_name'].errors && registerForm.controls['last_name'].errors['required']">
                Sorry, we can’t proceed without this information.
              </mat-error>
              <mat-error *ngIf="registerForm.controls['last_name'].errors && registerForm.controls['last_name'].errors['pattern']">
                Oops, that doesn't look like a valid Name!
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Email ID</mat-label>
              <input matInput type="email" placeholder="Your Email ID" formControlName="email" autocomplete="nope">
              <!-- <mat-hint>Hint</mat-hint> -->
              <mat-error *ngIf="registerForm.controls['email'].errors && registerForm.controls['email'].errors['required']">
                Sorry, we can’t proceed without this information.
              </mat-error>
              <mat-error *ngIf="registerForm.controls['email'].errors && registerForm.controls['email'].errors['pattern']">
                Oops, that doesn't look like a valid email!
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput type="password" placeholder="Your Password" formControlName="password" autocomplete="nope">
              <mat-error *ngIf="registerForm.controls['password'].errors && registerForm.controls['password'].errors['required']">
                Sorry, we can’t proceed without this information.
              </mat-error>
              <mat-error *ngIf="registerForm.controls['password'].errors && registerForm.controls['password'].errors['pattern']">
                Oops, that doesn't look like a valid Password!
              </mat-error>
            </mat-form-field>

            <button mat-raised-button color="accent" type="submit" class="submit">Register</button>
          </form>
        </div>

      </div>
    </div>
  </div>

</div>
